<form method="POST" action="/creatures">
    <label for="creatureType">Type:</label>
    <input type="text" name="type" id="creatureType">
    
    <label for="creatureImage">Image URL:</label>
    <input type="text" name="img_url" id="creatureImage">
    <button type="submit">Add a new Creature!</button>
</form>